<h1><%= t(:'blacklight.welcome') %></h1>

<p>This is the demo site for <a href="https://github.com/projectblacklight/blacklight">Blacklight</a>. It is simply the result of running the Blacklight <a href="https://github.com/projectblacklight/blacklight/wiki/Quickstart">Quickstart</a> guide.</p>

<p>Blacklight <%= Blacklight::VERSION %></p>

