<h1>Welcome</h1>

This is the demo site for <a href="https://github.com/projectblacklight/blacklight">Blacklight</a>. It is simply the result of running the Blacklight <a href="https://github.com/projectblacklight/blacklight/wiki/Quickstart">Quickstart</a> guide.

Blacklight <%= Blacklight::VERSION %>
